.military-unit-card {
   border: 10px solid whitesmoke;
   width: 300px;
   display: flex;
   flex-direction: column;
   section {
      display: flex;
      align-items: center;
      height: 50px;
      background: palegoldenrod;
      margin-bottom: 10px;
      &.mu_top-section {
         display: flex;
         justify-content: right;
         .mu_rank {
            width: 50px;
            height: 50px;
            background: black;
            color: white;
            display: flex;
            justify-content: center;
            font-size: 24px;
            h4 {
               margin: 12px;
            }
         }
      }
      &.mu_image-section {
         height: 250px;
      }
      &:last-child {
         margin-bottom: 0;
      }
   }
   img {
      display: block;
      margin: 0 auto;
      width: 200px;
   }
}